<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/build/react.development.js"></script>
    <script src="/javascripts/build/react-dom.development.js"></script>
    <script src="/javascripts/build/babel.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="example"></div>
    <script type="text/babel" src="/javascripts/IndexView.bunndle.js"></script>
  </body>
</html>
