<!DOCTYPE html>
<html>
  <head>
    <title>lexical</title>
    <script src="/javascripts/build/react.development.js"></script>
    <script src="/javascripts/build/react-dom.development.js"></script>
    <script src="/javascripts/build/babel.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel" src="/javascripts/LexicalView.bunndle.js"></script>
  </body>
</html>
