<!DOCTYPE html>
<html>
  <head>
    <title>received</title>
    <script src="/javascripts/build/react.development.js"></script>
    <script src="/javascripts/build/react-dom.development.js"></script>
    <script src="/javascripts/build/babel.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>接受成功</h1>
    <p>你的代码已经成功接受，请点击“词法分析”按钮进行词法分析</p>
    <a href="/lexical">词法分析</a>
  </body>
</html>
